beautifulsoup4
bs4
certifi==2022.5.18
click==8.1.2
colorama==0.4.4
Flask
Flask-RESTful
html5lib==1.1
itsdangerous==2.1.2
Jinja2==3.1.1
lxml==4.8.0
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
notebook==6.4.12
numpy
pandas
requests==2.27.1
scikit-learn==1.1.1
scipy==1.9.0
sklearn==0.0
urllib3==1.26.9
gunicorn